.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app-title {
}
.app-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
