:root {
  --home-color: var(--info);
  --pomodoro-color: #e74c3c;
  --relax-color: var(--teal);
  --meditate--color: var(--cyan);
}

*,
*::before,
*::after {
  outline: none;
}

.page,
.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
